Repository ZanderKeith/iiwa-batter: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, ruff_format, ruff_check

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

ruff_format:
  name: ruff_format
  entry: poetry run ruff format
  language: system

ruff_check:
  name: ruff_check
  entry: poetry run ruff check --fix
  language: system

Starting simple GP optimization where the position has already been set to have a collision with the ball
  iiwa_batter/sandbox/hydroelastic_tuning.py
  iiwa_batter/sandbox/pitch_check.py
  iiwa_batter/swing_optimization/instantaneous_swing.py
  poetry.lock
  pyproject.toml
  run_instantaneous_swing.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

First pass at optimization, even the regular iiwa14 can hit it about 100 feet, neat!
  iiwa_batter/swing_optimization/instantaneous_swing.py
  poetry.lock
  pyproject.toml
  run_instantaneous_swing.ipynb
  run_pitch_check.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Slight refactor to put all constants in physics. Made function which calculates the pitch velocity to aim the ball at a particular point with a given pitch speed
  blender/blender_reference.ipynb
  iiwa_batter/__init__.py
  iiwa_batter/assets/make_assets.py
  iiwa_batter/physics.py
  iiwa_batter/robot_constraints/kuka_details.json
  iiwa_batter/sandbox/ball_plate_state_90mph.json
  iiwa_batter/sandbox/pitch_check.py
  run_pitch_check.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Made pitch check scale simulation duration for the time of flight
  iiwa_batter/sandbox/ball_plate_state_90mph.json
  run_pitch_check.ipynb
Due: jupyter-nb-clear-output

Brought in changes from the instantaneous swing optimization with Bayesian inference to compare how long it takes to obtain good results
  iiwa_batter/physics.py
  iiwa_batter/robot_constraints/get_joint_constraints.py
  iiwa_batter/robot_constraints/kuka_details.json
  iiwa_batter/swing_optimization/instantaneous_swing.py
  run_instantaneous_swing.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Moved out of jupyter notebook to have better performance
  iiwa_batter/sandbox/pitch_check.py
  run_instantaneous_swing.ipynb
  run_instantaneous_swing.py
  run_pitch_check.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

About to try stochastic gradient descent for full trajectory optimization
  blender/blender_reference.ipynb
  iiwa_batter/__init__.py
  iiwa_batter/assets/make_assets.py
  iiwa_batter/physics.py
  iiwa_batter/robot_constraints/get_joint_constraints.py
  iiwa_batter/sandbox/pitch_check.py
  iiwa_batter/swing_optimization/full_trajectory.py
  poetry.lock
  run_full_trajectory.ipynb
  run_instantaneous_swing.ipynb
  run_instantaneous_swing.py
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Wrote rudimentary stochastic gradient descent, gonna see what results are tomorrow morning
  iiwa_batter/swing_optimization/full_trajectory.py
  run_full_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

encountering problems with running many simulations sequentially, going to try resetting the simulator instead of remaking it each time
  poetry.lock
  pyproject.toml
  run_full_trajectory.ipynb
  run_full_trajectory.py
Due: jupyter-nb-clear-output

Added two functions to initialize and reset the simulator
  iiwa_batter/sandbox/pitch_check.py
  iiwa_batter/swing_optimization/full_trajectory.py
Due: ruff_format, ruff_check

Attempted running with python garbage collection, still encounter memory issues
  run_full_trajectory.py
Due: none

Refactoring to make methods more clear, added tests to ensure trajectory is being made correctly
  .gitignore
  .vscode/settings.json
  iiwa_batter/__init__.py
  iiwa_batter/physics.py
  iiwa_batter/robot_constraints/collision_check.py
  iiwa_batter/sandbox/pitch_check.py
  iiwa_batter/swing_optimization/full_trajectory.py
  iiwa_batter/tests/test_trajectory_functions.py
  run_full_trajectory.ipynb
  run_full_trajectory.py
  run_naive_full_trajectory_optimization.py
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

updated trajectory interpolation so that it will remain consistent when swapping between simulation timesteps
  iiwa_batter/swing_optimization/full_trajectory.py
  iiwa_batter/tests/test_trajectory_functions.py
Due: ruff_format, ruff_check

Ensured naive trajectory optimization works
  iiwa_batter/__init__.py
  iiwa_batter/sandbox/pitch_check.py
  iiwa_batter/swing_optimization/full_trajectory.py
  iiwa_batter/swing_optimization/instantaneous_swing.py
  iiwa_batter/tests/test_trajectory_functions.py
  run_instantaneous_swing.ipynb
  run_instantaneous_swing.py
  run_naive_full_trajectory_optimization.py
  run_pitch_check.ipynb
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Comparing the simulation results of a full swing on different timebases, appears that there is about a 3.5cm bat positioning difference between the two.
  iiwa_batter/__init__.py
  iiwa_batter/sandbox/pitch_check.py
  iiwa_batter/save_load.py
  iiwa_batter/swing_optimization/full_trajectory.py
  iiwa_batter/tests/test_trajectory_functions.py
  run_naive_full_trajectory_optimization.py
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Dropped pitch dt to be more consistent with contact simulation
  iiwa_batter/__init__.py
  run_instantaneous_swing.py
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Trying to make iiwa14 models with collision work for self-collision checks, however does not appear to be working with hydroelastic contact
  iiwa_batter/sandbox/ball_plate_state_90mph.json
  iiwa_batter/sandbox/map_no_self_collisions.py
  iiwa_batter/sandbox/pitch_check.py
  iiwa_batter/save_load.py
  run_naive_full_trajectory_optimization.py
  run_pitch_check.ipynb
  self_collision_check.ipynb
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

presently there is a problem where the trajectory can give the simulator NaN's, must be fixed.
  iiwa_batter/swing_optimization/full_trajectory.py
  run_naive_full_trajectory_optimization.py
  run_pitch_check.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Updated dependencies
  poetry.lock
Due: none

Added some stuff to narrow down where the NaN error is coming from.
  iiwa_batter/assets/make_assets.py
  iiwa_batter/save_load.py
  iiwa_batter/swing_optimization/full_trajectory.py
  run_hydroelastic_tuning.ipynb
  run_naive_full_trajectory_optimization.py
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

working on fixing the simulation setup to follow best practices
  iiwa_batter/sandbox/tee_ball.py
  iiwa_batter/swing_optimization/full_trajectory.py
  run_instantaneous_swing.ipynb
  run_tee_ball.ipynb
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Made leaf system to handle torque setting
  iiwa_batter/sandbox/pitch_check.py
  iiwa_batter/swing_optimization/full_trajectory.py
Due: ruff_format, ruff_check

Added trajectory causing crashes
  iiwa_batter/swing_optimization/trajectories/crash_trajectory/torque_trajectory.csv
Due: none

Refactored to make a more general standalone run_swing_simulator function
  iiwa_batter/swing_optimization/full_trajectory.py
  iiwa_batter/swing_optimization/stochastic_gradient_descent.py
  iiwa_batter/swing_optimization/trajectory_helpers.py
  iiwa_batter/swing_simulator.py
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Made tests to ensure new torque trajectory system is properly reset between simulation runs and the simulator is being properly reset.
  iiwa_batter/swing_optimization/full_trajectory.py
  iiwa_batter/swing_optimization/stochastic_gradient_descent.py
  iiwa_batter/swing_optimization/trajectory_helpers.py
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
  iiwa_batter/tests/test_trajectory_functions.py
Due: ruff_format, ruff_check

Implemented test to see how changing simulation dt impacts final robot state when the torques are fairly large
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
Due: ruff_format, ruff_check

About to try to implement the collision check 'properly' in a leaf system, so it can terminate the simulation on its dt instead of waiting a long time since hydroelastic contact takes foreeever
  .pre-commit-config.yaml
  iiwa_batter/assets/make_assets.py
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
  run_hydroelastic_tuning.ipynb
  self_collision_check.ipynb
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Trying to make this leaf system publish automatically...
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
Due: ruff_format, ruff_check

Made collision checker run every timestep and stop the simulation shortly after collision begins
  iiwa_batter/swing_simulator.py
Due: ruff_format, ruff_check

Fixed problem where hits still raised an error
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Added geometry for performing collision checking
  iiwa_batter/assets/make_assets.py
  iiwa_batter/swing_simulator.py
  run_hydroelastic_tuning.ipynb
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Added setting to collision check to allow more flexibility in stopping the simulation
  iiwa_batter/swing_simulator.py
Due: ruff_format, ruff_check

Forced collision geometry to have zero inertia so it doesn't impact iiwa dynamics
  iiwa_batter/assets/make_assets.py
  iiwa_batter/tests/test_swing_simulator.py
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Created LeafSystem to enforce velocity limits, will be doing position limits through urdf files
  iiwa_batter/assets/iiwa14_joint_1_only.urdf
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
  video_demonstrations.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Fixed issue where maximum velocity could still be exceeded
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
Due: ruff_format, ruff_check

More fine tuning of the position and velocity constraint enforcements, I'm happy with them now
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Working on perfect restoration of the simulator. the ball is flying fine, so the discrepancy must be in the torque control somewhere
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
Due: ruff_format, ruff_check

Ensured timebase now always hits the end time, but still not lining up the joints...
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
Due: ruff_format, ruff_check

I'm getting a little confused...
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
Due: ruff_format, ruff_check

Refactored reset_simulator into reset_systems because the simulator time change and initialization is now done in run_swing_simulation
  iiwa_batter/swing_optimization/full_trajectory.py
  iiwa_batter/swing_simulator.py
  iiwa_batter/tests/test_swing_simulator.py
  visualize_trajectory.ipynb
Due: jupyter-nb-clear-output, ruff_format, ruff_check

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  ruff_format: any of: ^iiwa_batter/ and \.py$
  ruff_check: any of: ^iiwa_batter/ and \.py$
